# Node modules
node_modules/

# Environment variables
.env

# Playwright test results
/test-results/
/json-test-report.json
*.zip           # Trace files
/videos/
/screenshots/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
